.converter {

    &__name {
        padding-top: 50px;
        font-size: 30px;
        font-weight: 800;
        color: violet;
        text-align: center;
    }

    &__block {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }
}