.todo {

    &__name {
        padding-top: 50px;
        text-align: center;
        font-size: 35px;
        color: yellowgreen;
    }

    &__input {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: center;

        &__field {
            width: 600px;
        }
    }

    &__list {
        padding-top: 30px;

        &__card {
            text-align: center;
             
            &__text {
                font-size: 25px;
                font-weight: 600;
                color: blue;
            }
        }
    }
}